<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>CurrencyTradingWeb</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="login-container">
    
    {% if welcomeText  %}
     <h1>{{text["welcome"]}} {{ welcomeText  }}</h1> 
    {% else %}
    {{text["welcome"]}}
    {% endif %}

    <div class="table-container">
      <table>
        <thead>

          <tr>
            <th>{{text["currency"]}}</th>
            <th>{{text["balance"]}}</th>
          </tr>

        </thead>
        <tbody>
          {% for currency in accounts.keys() %}
          <tr>
            <td>{{currency}}</td>
            <td class="{% if accounts[currency] <= 0 %} negativo{% else %}positivo{% endif %}">
              {{accounts[currency] | round(2)}} </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>

    <div class="button-container">
      <button class="btn btn-crear" id="createAcc" onclick="location.href='createAcc'">{{text["btnCreateAcc"]}}</button>
    </div>
  </div>
  
</body>
</html>
